$base-color: white;
$primary-color: #f7f7f7;
$primary-middle-color: #dfdfdf;
$primary-dark-color: #b8b8b8;
$primary-dark-2-color: #999999;
$primary-dark-3-color: #777777;

$secondary-color: #f6af44;
$secondary-middle-color: #df9f3e;
$secondary-dark-color: #c98f39;

$complementary-color: #32328f;

$accent-color: #ff0000;

$primary-text-color: black;
$secondary-text-color: white;
