$header-width: 87px;
$side-card-height: 75px;
$main-side-padding: 20px;
$aside-width: 270px;

$scrollbar-width: 5px;

$video-width: 300px;
$video-max-width: 400px;
$video-height: 270px;
$video-preview-height: 200px;
