@mixin pulse-element($radius, $color) {
  width: $radius;
  height: $radius;
  //   padding: 3px;
  background-color: $color;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

.pulse-animation {
  @include pulse-element(10px, red);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
